<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="menu">
        <div class="row">
            <nav class="top-bar">
              <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                  <h1><a href="#"><img src="Content/images/Logo.png" /></a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
            
              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="right">
                  
                    <li class="active"><a href="#">Forside</a></li>
                    <li><a href="#">Nyheder</a></li>
                    <li class="has-dropdown"><a href="#">Om Form Works</a>
                        <ul class="dropdown">
                            <li class="has-dropdown"><a href="#">Ansatte</a>
                                <ul class="dropdown">
                                    <li><a href="#">Dan Verbaum</a></li>
                                    <li><a href="#">John P. Herluf</a></li>
                                    <li><a href="#">Niels Hoy Hansen</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li><a href="#">Projekter</a></li>
                    <li><a href="#">Galleri</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
                </section>
            </nav>
        </div>
    </header>

    @RenderBody()

    @*Scripts Render at bottom of the page.*@
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>