@model AdminPanel.Models.LocalPasswordModel



<div class="contentHeader">
    <h2>Change password</h2>
</div>
<div class="innerContent">
    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        
            <h5>Change Password Form</h5>
            
            <div class="row">
                <div class="large-12 columns">
                     @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>
        <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
        <div class="row">
                <div class="large-12 columns">
                     @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="right">
                        <input type="submit" class="submitbutton" value="Change password" />
                    </div>
                </div>
            </div>
            
        
    }

</div>

