@model IEnumerable<DA.UserProfile>

@{
    ViewBag.Title = "Users";
}
@section ContentMenu {

    <ul>
        <li><a href="@Url.Action("Create")"><i class='fa fa-plus'></i> Create New</a></li>
        <li class="divider"></li>
        <li class="hide-for-small"><a href="#" id="Selector"><i class="fa fa-check-square-o"></i>Select All</a></li>
        <li class="divider hide-for-small"></li>
        <li class="hide-for-small"><a href="#" onclick="if(!confirm('Delete selected?')) return false;"><i class="fa fa-trash-o"></i>Delete Selected</a></li>
        <li class="divider hide-for-medium-down"></li>
    </ul>
}



<div class="row">
    <div class="large-12 columns add-top">
        <div class="contentBox purple">
            <div class="contentHeader">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="innerContent">
               
                <table id="ViewTable" class="fulltable">
                    <tr>
                        <th  class="hide-for-small"></th>
                        <th>Username</th>
                        <th class="hide-for-small">First Name</th>
                        <th class="hide-for-small">User Name</th>
                        <th class="hide-for-small">Email</th>
                        <th class="hide-for-small">Role</th>
                        <th>Action</th>
                    </tr>
                    
                    @foreach (var item in Model.ToList()) {
                        <tr>
                            <td class="checkbox hide-for-small"><input type="checkbox" /></td>
                            <td>
                                <a href="@Url.Action("Edit", new { id=item.UserId })">@Html.DisplayFor(modelItem => item.UserName)</a>
                            </td>
                            <td class="hide-for-small">
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td class="hide-for-small">
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td class="hide-for-small">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="hide-for-small">
                                @*Html.DisplayFor(modelItem => item.)*@
                                Role Name
                            </td>
                            <td class="actionControls">
                                <div class="actions">
                                    <a href="@Url.Action("Edit", new { id=item.UserId })"><i class="fa fa-pencil"></i> Edit</a>
                                    <a href="@Url.Action("Delete", new { id=item.UserId })" onclick="if(!confirm('Delete?')) return false;"><i class="fa fa-trash-o"></i> Delete</a>                                    
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var checked = false;
            $('#Selector').click(function (e) {
                var table = $("#ViewTable");
                if (checked == false) {
                    $('td input:checkbox', table).attr('checked', "checked");
                    checked = true;
                }else{
                    $('td input:checkbox', table).attr('checked', null);
                    checked = false;
                }
            });
        });
    </script>
}